/* font face */
@font-face {
    font-family: Jost;
    src: url('@/assets/font/Jost/Jost-VariableFont_wght.ttf');
  }
  
  @font-face {
    font-family: MotherTongue;
    src: url('@/assets/font/mother-tongue-personal-use-font/MotherTonguePersonalUse-x3L3m.otf');
  }
  
  @font-face {
    font-family: WildCrazy;
    src: url('@/assets/font/wildcrazy-font/Wildcrazy-WKYO.ttf');
  }
  
  @font-face {
    font-family: PoiretOne;
    src: url('@/assets/font/Poiret_One/PoiretOne-Regular.ttf');
  }