@media screen and (max-width: 428px) {
    
    /* header fix */
    .slide_item {
        top: 0;
    }
    .hue-header .item.first {
        font-size: 14px;
    }
    .hue-header .item.second, .hue-header .item.third {
        display:  none;
    }
    .image_slider {
        height: 290px;
    }
    .slider_title .small_text {
        font-size: 16px;
    }
    .slider_title h1 {
        font-size: 24px;
    }

    /* about */
    .about {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .left_description, .right_description {
        max-width: 100%;
    }

    .description_header {
        font-size: 24px;
    }
    .left_description p, .right_description p {
        font-size: 16px;
        font-weight: 500;
    }
    .about_img {
        max-width: 100%;
    }
    .right_description {
        padding: 20px;
    }

    /* photo */
    .image_cover {
        display: none;
    }
    .photo_row {
        flex-direction: column;
    }
    .image_item {
        width: 100%;
        max-height: 428px;
    }
}