#scrollToTopBtn {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  #scrollToTopBtn:hover {
    background-color: #555;
  }