.todo {
    padding: 24px;
}

.todo-container {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-top: 50px;
    /* margin-left: 50px; */
    margin-bottom: 20px;
    padding: 8px;
}

.todo-header {
    font-size: 50px;
    font-family: 'PoiretOne', sans-serif;
    text-align: left;
}

.todo-ul {
  max-height: 500px;
  overflow-y: auto;
}

.todo-list {
    list-style: none;
    text-align: left;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.todo-list:hover {
    background-color: lightblue;
}